
* {
    margin: 0;
    padding: 0;
    /*font-family: Arial;*/
}

@font-face {
    font-family: 'lucida_sans_unicoderegular', Arial;
    src: url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
    url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 909px;
    margin: 0 auto;
}

/*--------------------------HEADER--------------------------*/

header {
    display: flex;
    height: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 26px;
}

.regist {
    display: inline-block;
    position: relative;
    width: 470px;
    margin: 0 18px;
    padding-left: 25px;
    border-radius: 5px;
    background: linear-gradient(#216789, #0c3457);
    box-shadow: 2px 2px 3px #808080;
}

.regist input {
    width: 110px;
}

input::-webkit-input-placeholder {
    padding: 3px;
    font-size: 11px;
}

.regist img {
    position: absolute;
    top: 4px;
    left: 6px;
}

.regist .submit {
    width: 40px;
    height: 13px;
    margin-right: -7px;
    border: 0;
    background: none;
    color: #fff;
    font-size: 11px;
    line-height: 13px;
}

.regist form span {
    color: white;
    font-size: 12px;
    margin-right: 3px;
}

.registration {
    margin-right: 16px;
    color: #fff;
    font-size: 11px;
    line-height: 25px;
    text-decoration: none;
}

.no-password {
    color: #92979d;
    font-size: 12px;
    line-height: 25px;
}

.phone {
    align-items: center;
    padding-left: 30px;
    background: url('../img/tel.jpg') 7px 2px no-repeat;
}

.phone span {
    font-family: Arial;
    font-size: 19px;
    font-weight: 500;
}

.icon {
    display: flex;
    width: 75px;
    height: 20px;
    border: 1px solid #808080;
    border-radius: 10px;
}

.icon a img {
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 4px;
    margin-left: 8px;
}

.banner {
    height: 237px;
    background: url('../img/banner.jpg');
}

/*--------------------------MENU------------------------*/

nav {
    display: block;
    height: 34px;
    margin-top: 6px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: linear-gradient(#4d5663, #010101);
    font-size: 14px;
}

nav ul {
    display: inline-block;
    margin-left: 133px;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0;
}

nav li a {
    padding: 5px 14px;
    color: #838d8f;
    line-height: 33px;
    text-decoration: none;
    text-transform: uppercase;
}

nav li a:hover {
    border-radius: 20px;
    background: #13486a;
    color: #fff;
}

.order {
    display: inline-block;
    width: 225px;
    margin-left: 44px;
    color: #838d8f;
    font-size: 11px;
}

.order .number {
    margin-right: 15px;
    color: #0d5a8f;
    font-size: 12px;
}

/*----------------------SEARCH------------------------*/
section {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

/*-----------------------SEARCH left-column(car)---------------------*/

.car {
    width: 413px;
    height: 134px;
    border: 1px solid #808080;
    border-radius: 20px;
}

h3 {
    font-size: 14px;
}

.title {
    display: flex;
    justify-content: space-between;
    height: 14px;
    color: #0d5a8f;
    margin: 0 19px 8px 19px;
}

.title span {
    margin-top: 4px;
    font-size: 11px;
}

.for-car{
    width: 100px;
}

.for-car select {
    width: 100px;
    /*margin-left: 5px;*/
    margin-bottom: 3px;
}

.section-select {
    display: inline-block;
    width: 70px;
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 14px;
    font-size: 10px;
}

.section-select p {
    line-height: 10px;
    margin-bottom: 5px;
}

.section-select span {
    font-size: 10px;
    color: grey;
    line-height: 10px;
}

.for-flex {
    display: flex;
}

select .years {
    width: 56px;
}

.car input[type="submit"] {
    width: 53px;
    margin-left: 340px;
    border: none;
    border-bottom: 2px solid grey;
    color: #0d5a8f;
    background: none;
}

/*-----------------------SEARCH center-column(tires)---------------------*/

.tires {
    width: 192px;
    height: 134px;
    border: 1px solid #808080;
    border-radius: 20px;
    font-size: 10px;
}

.tires h3 {
    margin-left: 15px;
}

.size select {
    width: 50px;
    margin: 0 4px;
    font-size: 12px;
}

.size {
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
}

.R {
    display: inline-block;
    margin: 9px 0 0 46px;
    font-size: 12px;
}

.R select {
    width: 45px;
    margin: 0 4px;
    font-size: 12px;
}

.season {
    display: flex;
    margin-top: 4px;
    margin-left: 15px;
}

.season form {
    margin-left: 12px;
    font-size: 11px;
}

.season form span {
    line-height: 12px;
    font-size: 11px;
}

.tires input[type="submit"] {
    width: 53px;
    margin-left: 128px;
    border: none;
    border-bottom: 2px solid grey;
    color: #0d5a8f;
    background: none;
}


/*-----------------------SEARCH right-column(wheels)---------------------*/

.wheels {
    width: 235px;
    height: 128px;
    padding: 0 12px 8px 18px;
    border: 1px solid #808080;
    border-radius: 20px;
}

/*-------------------------------------ARTICLE----------------------------------*/
article {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}
/*-------------------------------------LEFT-------------------------------------*/
.left-column {
    width: 180px;
    margin-top: 4px;
}

.name {
    width: 180px;
    height: 25px;
    margin-bottom: 12px;
    border: 1px solid #000;
    border-radius: 20px;
    background: url('../img/icon.png') no-repeat 3px 0;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px #808080;
}

.name h2 {
    margin-left: 30px;
    font-size: 12px;
}

.name2 {
    width: 150px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 20px;
    background: url('../img/icon2.png') no-repeat 3px 0;
    line-height: 25px;
    text-transform: uppercase;
}

.name2 h4 {
    margin-left: 30px;
    font-size: 14px;
}

.left-column ul {
    margin-left: 47px;

}

.left-column ul li {
    margin: 6px 0;

}

.left-column li a {
    color: #808080;
    font-size: 13px;
    text-decoration: none;
}

.left-column li a:hover {
    border-bottom: 1px solid #808080;
    color: #000;
    font-size: 15px;
}


/*--------------------------------------CENTER-----------------------------------*/

.main-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 525px;
    height: 600px;
    padding: 14px 0;
    background: linear-gradient(#e6e7e9, #a8b7be);
    text-align: center;
}

figure {
    /*width: 175px;
    height: 137px;*/
}

.tire {
    width: 137px;
    height: 126px;
    margin-bottom: 6px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #fff;
}

.tire img {
    margin: 5px 31px;
}

figcaption {
    line-height: 14px;
}

figcaption a {
    font-size: 16px;
    text-decoration: none;
}

figcaption span {
    font-size: 14px;
}

strong span i {
    font-size: 13px;
}

/*----------------------------------------------RIGHT-------------------------------------*/

.right-column {
    width: 180px;
    margin-top: 4px;
}

.name3 {
    width: 135px;
    height: 25px;
    margin-top: 12px;
    margin-left: 15px;
    border: 1px solid #000;
    border-radius: 20px;
    background: url('../img/icon2.png') no-repeat 3px 0;
    line-height: 25px;
    text-transform: uppercase;
}

.name3 h4 {
    margin-left: 30px;
    font-size: 14px;
}

.right-column input {
    height: 11px;
    margin: 7px 13px 7px 21px;
}

.right-column span {
    font-size: 12px;
    line-height: 11px;
}

.right-column input[type="submit"] {
    width: 80px;
    height: 26px;
    margin: 20px;
    border-radius: 10px;
    background: linear-gradient(#1f6585, #0c3357);
    color: #fff;
    font-size: 12px;
}

.brand {
    display: block;
    width: 909px;
    height: 25px;
    margin-top: 37px;
}

.brand img {
    /*margin:;*/
    line-height: 27px;
    text-align: center;
}

/*--------------------------------------------FOOTER------------------------------------*/

footer {
    /*display: inline-flex;
    justify-content: center;*/
    width: 909px;
    height: 100px;
    margin-top: 25px;
    background: #213a4e;
}

footer ul {
    width: 909px;
    display: inline-block;
    margin-top: 8px;
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding: 0 7px;
    border-right: 2px solid #808080;
    font-size: 13px;
    list-style: none;
}

footer li:last-child {
    border: 0;
}

footer li a {
    margin: 1px;
    padding: 1px;
    color: #808080;
    text-align: center;
    text-decoration: none;
}

footer li a:hover {
    color: #59a4cb;
}

.copyright {
    margin-top: 9px;
    text-align: center;
}

.copyright a {
    color: #7f4740;
    font-size: 11px;
    line-height: 18px;
    text-decoration: none;
}
