@media (min-width: 320px) and (max-width: 479px) {

    .width {
        width: 320px;
        margin: 0 auto;
    }

    .background {
        padding-top: 69px;
    }

    .logo {
        margin-right: 20px;
    }

    header {
        flex-direction: column;
    }

    .nav1 {
        position: relative;
        width: 100%;
        margin: 0;
    }

    .menu:hover {
        height: auto;
        background: rgba(61,49,70, 0.83);
        border: 1px solid;
    }

    .menu {
        height: 30px;
        overflow: hidden;
        position: absolute;
        width: 245px;
        z-index: 9;
        left: 50%;
        top: 0;
        margin: 20px 0 0 -131px;
        border-radius: 10px;
    }

    .menu__item {
        display: block;
        text-align: center;
        margin: 0;
        height: 42px;
        border-bottom: 1px solid grey;
    }

    .menu__link {
        line-height: 42px;
    }

    .menu__item:first-child .menu__link {
        border-bottom: 2px solid #edbfff;
    }

    .menu__item:hover {
        border-bottom: 1px solid #edbfff;
        background: rgba(61,49,70,0.9);
    }

    .menu__item:first-child {
        border-bottom: 2px solid #edbfff;
    }

    .slider__container {
        height: 221px;
        margin-top: 87px;
        background-color: transparent;
    }

    .slider__text {
        margin-top: 90px;
        margin-left: 31px;
    }

    .slider__h1 {
        margin-left: 25px;
        font-size: 35px;
        letter-spacing: 0;
    }

    .slider__h2 {
        margin-top: 0;
        margin-left: 25px;
        font-size: 19px;
        width: 206px;
        height: 20px;
        overflow: hidden;
        letter-spacing: -.5px;
    }

    .slider__paragraph {
        display: none;
    }

    .phone {
        display: none;
        width: 192px;
        height: 304px;
        top: -10px;
        left: 250px;
        background: url('../img/phone_480.png');
    }

    .check__ul {
        margin-top: 8px;
        margin-right: 125px;
        margin-bottom: 62px;
    }

    /*-------------------------ARTICLE-------------------------*/

    .block {
        flex-wrap: wrap;
        padding-top: 70px;
        margin-bottom: 0;
        padding-bottom: 42px;
    }

    .about__box {
        width: 90%;
        margin-top: 0;
        margin-left: 16px;
    }

    .icon1 {
        margin-top: 3px;
    }

    .about__box:nth-child(3) {
        margin-top: 16px;
    }

    .about__h3 {
        font-size: 25px;
    }

    .about__content {
        margin-left: 58px;
    }

    .about__paragraph {
        margin-top: 0;
        height: 72px;
        padding-right: 10px;
        overflow: hidden;
    }

    .about__link {
        margin-top: 14px;
        margin-bottom: 21px;
        margin-right: 18px;
    }

    /*----------------------------BLOG-----------------------------*/

    .blog__main {
        flex-wrap: wrap;
    }

    .blog__main__left {
        width: 90%;
        margin-top: 70px;
        margin-left: 8px;
        background: url('../img/slider_bg320.png') no-repeat;
    }

    .blog__main__right {
        width: 84%;
        margin-top: 13px;
        margin-left: 9px;
    }

    .blog__h2 {
        margin-top: 24px;
        margin-left: 64px;
        font-size: 24px;
        margin-bottom: 5px;
        width: 115px;
        line-height: 24px;
    }

    .blog__h2_right {
        font-size: 30px;
        width: 140px;
        margin-top: 33px;
        margin-left: 2px;
    }

    .blog__updates {
        margin-top: 20px;
        margin-left: 0;
    }

    .list1 {
        background: url('../img/blog1.png')3px 0 no-repeat;
    }

    .list2 {
        background: url('../img/blog2.png')3px 0 no-repeat;
    }

    .list3 {
        background: url('../img/blog3.png')3px 0 no-repeat;
    }

    .blog__h3 {
        margin-left: 69px;
        height: 22px;
        overflow: hidden;
    }

    .blog__paragraph {
        margin-right: 7px;
        height: 163px;
        overflow: hidden;
    }

    .blog__slider-radio {
        margin-top: 54px;
        margin-bottom: 0;
        margin-left: 117px;
    }

    .blog__paragraph__right {
        height: 24px;
        margin-left: 68px;
        overflow: hidden;
    }

    .blog__read {
        margin-top: 2px;
        margin-right: 0;
        margin-bottom: 86px;
    }


    /*--------------------PARTNERS--------------------*/
    .partners {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 38px;
        margin-bottom: 13px;
        flex-wrap: wrap;
    }

    .partners__items {
        width: 34%;
        margin: 13px 0 43px 0;
    }

    .partners__items:first-child {
        margin-left: 0;
    }

    .partners__items:nth-child(4) {
        margin-left: 0;
    }

    .partners__items:last-child {
        margin-left: 0;
    }

    /*-------------------------COMMENTS--------------------------*/

    .comments {
        display: none;
    }

    /*--------------------FOOTER--------------------------*/

    footer {
        background: url('../img/footer-bg768.jpg') no-repeat;
    }

    .footer__block {
        justify-content: center;
        flex-direction: column;
    }

    .footer__menu {
        display: none;
    }

    .designedby {
        margin-top: 40px;
        margin-bottom: 150px;
    }

}
