.wrapper {
    width: 500px;
    height: 350px;
    margin: 50px auto;
    border: 1px solid grey;
}

.main_block {
    width: 450px;
    max-height: 330px;
    overflow: auto;
    margin: 10px auto 0 auto;
    border: 1px solid grey;
}

ul {
    border: 1px solid grey;
    margin: 7px 2px 10px;
    border-radius: 10px;
}

ul li {
    margin-top: 7px;
    display: inline-block;
    list-style: none;
    border: 1px solid grey;
    background: white;
    width: 100px;
    text-align: center;
    border-bottom: none;
    border-radius: 5px;
    margin-left: 7px;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;
}

.first {

}

.second {
    display: none;
}

.third {
    display: none;
}

.none {
    display: none;
}

.active_li {
    background: blue;
    color: white;
}

.active_li a {
    color: white;
}

#1 {
    background: yellow;
}

.active_a {
    color: white;
}

