
* {
    margin: 0;
    padding: 0;
    font-family: 'helveticaneuecyrlight', sans-serif, Georgia, Arial;
}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

body {
    width: 1215px;
    margin: 0 auto;
}
header {
    display: block;
    background: #004F91;
    color: #01ADDD;
    height: 35px;
    text-align: right;
    font-size: 14px;
}

header ul {
    display: inline-block;
    margin-right: 20px;
}

header ul li {
    display: inline-block;
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #01ADDD;
    text-decoration: none;
    line-height: 35px;
    padding: 0 15px;
}

header li a:hover {
    background: #01ADDD;
    color: white;
}
header ul li {
    display: inline-block;
    line-height: 35px;
 }

li a img {
    display: inline-block;
    line-height: 35px;
}

.bor-left {
    border-left: 1px solid blue;
}



.fon {
    height: 1028px;
    width: 1215px;
    background: url("../img/fon.jpg");
}

.form1 {
    position: absolute;
    width: 560px;
    height: 610px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    top: 249px;
    left: 420px;
    color: white;
}

h2 {
    line-height: 60px;
    border-bottom: 2px solid grey;
    font-size: 22px;
}

.content {
    width: 276px;
    margin: 0 auto;
    color: white;
}

.facebook {
    margin-top: 35px;
    margin-bottom: 27px;
}

.line {
    margin-bottom: 27px;
}

.box input {
    margin-bottom: 16px;
    display: inline-block;
    height: 35px;
    width: 256px;
    background: black;
    border: none;
    color: white;
    border-bottom: 1px solid grey;
    padding-left: 20px;
}

.box input:hover {
    background: #00508B;
    box-shadow: 0 0 15px #00508B;
    color: white;
}

.checkbox {
    display: inline-block;
    text-align: left;
}

.submit input {
    background: #01ADDD;
    width: 150px;
    margin-top: 20px;
    line-height: 35px;
    color: white;
    border: none;
}

.text1 {
    width: 310px;
    display: inline-block;
    text-align: center;
    margin: 20px auto 0 auto;
    font-size: 11px;
}