
* {
    margin: 0;
    padding: 0;
    font-family: 'helveticaneuecyrlight', sans-serif, Georgia, Arial;
}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

body {
    width: 1215px;
    margin: 0 auto;
}

header {
    display: block;
    height: 36px;
    background: url('../img/menufon1.png');
    color: #01addd;
    font-size: 14px;
    text-align: right;
}

header ul {
    display: inline-block;
    margin-right: 20px;
}

header ul li {
    display: inline-block;
    line-height: 36px;
    list-style: none;
}

header li a {
    display: inline-block;
    padding: 0 15px;
    color: #01addd;
    line-height: 36px;
    text-decoration: none;
}

header li a:hover {
    background: #01addd;
    color: #fff;
}

.bor-left {
    border-left: 1px solid #00f;
}

.fon {
    width: 1215px;
    height: 1028px;
    background: url('../img/fon.jpg');
    /*display: flex;*/
}

.form1 {
    position: absolute;
    top: 249px;
    left: 420px;
    width: 560px;
    height: 610px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: center;
    /*margin: auto;*/
}

h2 {
    border-bottom: 2px solid #808080;
    font-size: 22px;
    line-height: 60px;
}

.content {
    width: 276px;
    margin: 0 auto;
    color: #fff;
}

.facebook {
    margin-top: 35px;
    margin-bottom: 27px;
}

.line {
    margin-bottom: 27px;
}

.box input {
    display: inline-block;
    width: 256px;
    height: 35px;
    margin-bottom: 16px;
    padding-left: 20px;
    border: 0;
    border-bottom: 1px solid #808080;
    background: #000;
    color: #fff;
}

.box input:hover {
    background: #00508b;
    color: #fff;
    box-shadow: 0 0 15px #00508b;
}

.checkbox {
    display: inline-block;
    text-align: left;
}

.submit input {

    width: 150px;
    margin-top: 20px;
    border: 0;
    background: #01addd;
    color: #fff;
    font-size: 14px;
    line-height: 35px;
}

.text1 {
    display: inline-block;
    width: 310px;
    margin: 20px auto 0;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
}
