

*{
    margin: 0;
    padding: 0;
}

*{
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    color: #8f8f8f;
    font: 10px Roboto, Tahoma, sans-serif;
}

/*---------------main-page------------*/

.main-about-us {
    width: 995px;
    margin: 0 auto;
    padding-bottom: 55px;
}

.my-h1 {
    margin: 0 auto 40px auto;
    width: 400px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.1em;
    color: #827885;
}

.about-us-wrapper {
    display: flex;
    justify-content: space-around;
}

.about-us-block {
    width: 220px;
    margin-bottom: 60px;
}

.about-us-block img {
    display: block;
    margin: 0 auto;
}

.about-us-title {
    display: block;
    height: 50px;
    width: 90%;
    text-align: center;
    margin: 25px auto;
    font-size: 1.6em;
}

.about-us-text {
    display: block;
    font-size: 1.6em;
    text-align: center;
}

.Additional-services-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.Additional-services-block img {
    margin-left: 120px;
}

.Additional-services-block {
    display: flex;
    width: 50%;
    margin-bottom: 30px;
}

.Additional-services-block a {
    height: 100px;
    line-height: 100px;
    display: block;
    width: 260px;
    margin-left: 30px;
    font-size: 1.6em;
}

.main-work-wrapper {
    background: #487ec1;
}

.main-work {
    width: 995px;
    margin: 0 auto;
    padding-top: 40px;
}

.main-work .my-h1 {
    color: white;
}

.main-work-block {
    display: flex;
    flex-wrap: wrap;
}

.main-work-block-side {
    width: 50%;
}

.block-side-number {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
}

.block-side-number span {
    font-size: 4.6em;
    margin: 20px auto;
    display: block;
    text-align: center;
}

.block-side-wrapper {
    display: flex;
    height: 104px;
    margin-bottom: 50px;
}

.side-number-float {

}

.block-side-text {
    width: 350px;
    font-size: 1.6em;
    margin: 0 16px;
    color: white;
}

.block-side-text-align {
    text-align: right;
}

.block-side-orange-text {
    color: #f7b417;
}

.block-side-orange-number {
    border: 2px solid #f7b417;
}


.main-question {
    width: 995px;
    height: 287px;
    margin: 0 auto;
    background: url("../img/main-question.jpg") no-repeat;
}

.main-question-text {
    font-size: 2.1em;
    float: right;
    width: 191px;
    margin: 100px 40px 50px;
    text-align: right;
    text-transform: uppercase;
    color: #adc1df;
}


/*--------------- services ------------*/

.services-block {
    display: flex;
    width: 995px;
    margin: 0 auto;
    padding: 32px 0;
}

.services-info {
    width: 390px;
}

.services-border {
    margin: 0 25px 0 35px;
}

.services-info-title {
    display: block;
    font-size: 2.4em;
}

.services-info-text {
    height: 60px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 1.6em;
}

.services-button {
    background: #f7b417;
    color: white;
    padding: 7px 22px;
    font-size: 1.6em;
    border-radius: 5px;
    margin-top: 23px;
    display: inline-block;
}

.services-block-img {
    width: 200px;
    margin-right: 23px
}

.services-block-img img {
    margin: 25px auto;
    display: block;
}

.services-list ul li {
    font-size: 1.6em;
    line-height: 1.5em;
}

.services-list ul li::before {
    margin-right: 15px;
    content: url("../img/tick.png");
}

.services-block-color-grey {
   background: #e4e3e5;
}

.services-block-color-white {
    background: #f9f8f9;
}

.title-uppercase {
    text-transform: uppercase;
}

.target-add .services-info-title {
    margin-top: -5px;
    line-height: 1em;
}

.target-add .services-button{
    margin: 15px 0 0 10px;
}

.services-list ul {
    width: 300px;
    margin-top: 15px;
}

.services-list .three-li {
    margin-top: 38px;
}

.services-list .three-li {

}

/*---------------------portfolio-page---------------------*/

.port-page-first {
    background: url("../img/port-page-first.jpg") top center no-repeat;
    height: 807px;
}

.port-page-first-block {
    margin: 0 auto;
    width: 995px;
}

.port-page-ux {
    background: url("../img/port-page-ux.jpg") top center no-repeat;
    height: 627px;
}

.port-page-ui {
    background: url("../img/port-page-ui.jpg") top center no-repeat;
    height: 629px;
}

.port-page-ui-second {
    background: url("../img/port-page-ui-second.jpg") top center no-repeat;
}

.port-page-adap {
    background: url("../img/port-page-adap.jpg") top center no-repeat;
    height: 1018px;
}

.port-page-clients {
    background: url("../img/port-page-clients.jpg") top center no-repeat;
    padding-bottom: 110px;
}

.port-page-clients-second {
    background: url("../img/port-page-clients-second.jpg") top center no-repeat;
    padding: 80px 0 80px 0;
}

.port-page-order {
    background: url("../img/port-page-order.jpg") top center no-repeat;
    height: 267px;
}

.port-h1 {
    font-size: 4.2em;
    color: #487ec1;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
}

.port-h2 {
    font-size: 3.6em;
    text-align: right;
    margin-bottom: 16px;
}

.port-text {
    font-size: 2.4em;
    text-align: right;
    padding-left: 260px;
}

.port-page-first-block-right {
    padding-top: 100px;
    text-align: right;
}

.ux-block {
    padding-top: 180px;
    color: #fff;
}

.ux-block-h1 {
    font-size: 4.2em;
    text-transform: uppercase;
    font-weight: 600;
}

.ux-block-h2 {
    font-size: 3.4em;
    text-transform: uppercase;
}

.ux-block-text {
    width: 650px;
    font-size: 2.4em;
    margin-top: 35px;
}

.ui-block {
    padding-top: 345px;
    color: #fff;
    text-align: right;
}

.ui-block-h1 {
    font-size: 4.2em;
    text-transform: uppercase;
}

.ui-block-h2 {
    font-size: 3.4em;
    text-transform: uppercase;
}

.ui-block-text {
    font-size: 2.4em;
    padding-left: 230px;
}

.port-page-site {
    padding-top: 111px;
}

.port-page-site img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 874px;
}

.port-page-adap-block {
    padding-top: 45px;
    color: #fff;
}

.port-page-adap-h1 {
    font-size: 4.2em;
    text-transform: uppercase;
    font-weight: 600;
}

.port-page-adap-text {
    font-size: 2.5em;
    width: 850px;
    margin-top: 33px;
}

.port-page-adap-menu {
    height: 170px;
    margin-top: 50px;
    background: #3b895b;
}

.port-page-clients-block {
    width: 995px;
    margin: 0 auto;
    padding-top: 45px;
    color: #fff;
}

.port-page-clients-h1 {
    font-size: 4.2em;
    text-transform: uppercase;
    font-weight: 600;
    width: 900px;
}

.port-page-clients-text {
    font-size: 2.5em;
    width: 785px;
    margin-top: 25px;
}

.port-page-order-block {
    padding-top: 65px;
    color: #fff;
}

.port-page-order-block-h1 {
    font-size: 4.2em;
    text-transform: uppercase;
    font-weight: 600;
}

.port-page-wrapper {
    margin: 0 auto;
    width: 100%;
}

.port-page-clients-img img {
    width: 85%;
    max-width: 1635px;
    min-width: 320px;
    margin: 0 auto;
    display: block;
    margin-top: 45px;
}

.port-page-clients-second-img img {
    width: 75%;
    max-width: 1146px;
    min-width: 320px;
    margin: 0 auto;
    display: block;
}

.port-page-clients-second-img {

}

.port-page-order-button {
    padding: 15px 50px;
    background: #f7b417;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 1.4em;
    color: #fff;
}

.port-page-order-button-block {
    margin-top: 50px;
}



/*------------------posad------------------*/

.posad-main-menu {
    background: url("../img/posad-back-first.jpg") top center no-repeat;
    padding-bottom: 100px;
}

.posad-main-menu-text {
    width: 995px;
    margin: 0 auto;
}

.posad-main-menu-text-h1 {
    font-size: 4.2em;
    text-align: right;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.posad-main-menu-text-text {
    font-size: 3em;
    text-align: right;
    color: #fff;
}

.posad-main-menu-h2 {
    width: 350px;
    margin-top: 100px;
    font-size: 4.2em;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

.posad-main-menu-h2-right {
    margin-top: 100px;
    font-size: 4.2em;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
}

.posad-main-menu-img img {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: block;
    margin-top: -50px;
}

.posad-bar-cart-back {
    background: url("../img/posad-bar-cart.jpg") top center no-repeat;
    height: 790px;
}

.posad-night-menu {
    background: #974674;
    padding: 95px 0;
}

.posad-night-menu-img img {
    width: 100%;
    max-width: 645px;
    margin: 90px auto 0 auto;
    display: block;
}

.posad-night-menu-h2 {
    width: 350px;
    font-size: 4.2em;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

.port-page-order-color-blue {
    color: #487ec1;
}

/*----------------bords-----------------*/

.my-bords {
    padding: 100px 0;
}

.bords-first {
    background: linear-gradient(to bottom left, #cf8b95, #6c3a5a);
}

.my-bords img {
    margin: 0 auto;
    width: 100%;
    max-width: 1348px;
    display: block;
}

.bords-second {
    background: linear-gradient(to bottom left, #eeeae1, #75656d);
}

.bords-third {
    background: linear-gradient(to bottom left, #fab7b2, #ff7c87);
}

.bords-fouth {
    background: linear-gradient(to bottom left, #ec6157, #c63633);
}

.bords-fifth {
    background: linear-gradient(to bottom left, #ffdcb1, #cea36f);
}

.bords-sixth {
    background: linear-gradient(to bottom left, #ce3331, #760703);
}

.bords-first-block {
    width: 995px;
    margin: 0 auto;
}

.bords-first-block-h1 {
    padding-left: 50%;
    font-size: 4.2em;
    font-weight: 600;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
}

.bords-first-block-h2 {
    font-size: 3.5em;
    text-align: right;
    color: #fff;
}

/*---------------------fitness--------------------*/

.fitness-first {
    background: url("../img/fitness-first-back.jpg") top center no-repeat;
    padding-bottom: 170px;
}

.fitness-first img {
    display: block;
    margin: 70px auto 0 auto;
    width: 100%;
    max-width: 540px;
    min-width: 320px;
}

.fitness-second {
    padding: 200px 0;
    background: url("../img/fitness-second-back.jpg") top center no-repeat;
    background-size: cover;
}

.fitness-second-block {
    display: flex;
    flex-wrap: wrap;
}

.fitness-second img {
    display: block;
    margin: 0 auto 50px auto;
    width: 100%;
    max-width: 562px;
    min-width: 320px;
    height: 100%;
}

.fitness-first-block {
    width: 995px;
    margin: 0 auto;
}

.fitness-first-block-h1 {
    font-size: 4.2em;
    text-align: right;
    padding-left: 40%;
    color: #fff;
}

.fitness-first-block-h2 {
    font-size: 3em;
    text-align: right;
    padding-left: 60%;
    color: #fff;
}
